:root {
    --couleur-primaire : #07357d;
}
header {
    border-bottom: 2px solid black;
}
p + blockquote {
    background-color: var(--couleur-primaire);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    border-left: 0;
}
p + blockquote a {
    color: white;
}
p + blockquote:hover {
    background-color: #17458d;
}