:root {
    --couleur-primaire : #07357d;
}
p + blockquote {
    background-color: var(--couleur-primaire);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 70%;
    margin: 0 15%;
}
p + blockquote a {
    color: white;
}